<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Spring Boot Security Hello</title>
</head>
<body>
	<h2>Spring Boot Security Login with Google+</h2>
	<a href="https://accounts.google.com/o/oauth2/auth?scope=email profile openid&openid.realm&include_granted_scopes=true&client_id=744486347000-kb2d1is3v69drqg14brhinkes80c83sf.apps.googleusercontent.com&redirect_uri=http://localhost:8080/jwt/login-google&response_type=code
		&approval_prompt=force">Login With Gmail</a>
	
	<br/>
	<form name='login-form' th:action="@{/login}" method='POST'>
		<table>
			<tr>
				<td>Username:</td>
				<td><input type='text' name='username' value=''></td>
			</tr>
			<tr>
				<td>Password:</td>
				<td><input type='password' name='password' /></td>
			</tr>
			<tr>
				<td><input name="submit" type="submit" value="submit" /></td>
			</tr>
		</table>
		<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
	</form>
</body>
</html>